<div class="row-fluid content" ng-controller="index.controllers.root">
	<span class="vertical-middle text-center">
		<div class="col-md-offset-4 col-md-4 text-center">
			<div class="btn-group-vertical btn-group-justified">
				<input type="text" class="btn-group list-group-item" ng-model="searchText" placeholder="login" />
				<input type="text" class="btn-group list-group-item" ng-model="searchText" placeholder="login" />
				<div class="btn-group">
					<a class=" btn btn-success">login</a>
				</div>
			</div>
		</div>
	</span>
</div>